node_modules/
dist/
build/
.env
.env.*
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
logs/
*.log
*.tsbuildinfo
/.parcel-cache
.cache/
.next/
.turbo/
debug.log*
.nyc_output/
coverage/
/.history/
/.pnp/
/.pnp.js
.eslintcache
/.idea/
*.local
